/* http://www.cssfontstack.com/Spinnaker */
body {
	font-family: Spinnaker, sans-serif;
	background-color: #4f4a44;
	color: #faebd7;
	margin: 25px;
}
h1 {
	font-weight: bold;
}
a:link {
	color: #d7e6fa;
	text-decoration: none;
}
a:visited {
	color: #fad7f8;
	text-decoration: none;
}
a:hover {
	color: #d7fad9;
	text-decoration: underline;
}
a:active {
	color: #ffffff;
	text-decoration: underline;
}
